*{
	margin:0;
	padding:0;
	box-sizing:border-box; 
}
.relative {
    width: 600px;
    position: relative;
}
   
.relative h1{
    position: absolute;
    bottom: -20%;
    color: white;
    font-size: 55px;
    max-width: 400px;
    left: 5%;
    transition-duration: 0.6s;
   transition-timing-function: cubic-bezier(1, 0.98, 0.21,-0.12)
    opacity: 0
}


.relative img{
    max-width: 100%;

}
.relative:hover h1{

	opacity: 1;
	 bottom: 10%;
}
.ball{
    width: 30px;
    height: 30px;
    background: #795548;
    display: block;
    position: absolute;
    bottom: 40%;
    left: 20%;
    transform: rotate(71deg);
    animation-name: rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes rotate{
    20%{
	transform: rotate(568deg);
    bottom: 20%;
    left:10%;
	}
	40%{
	transform: rotate(-68deg);
    bottom: 50%;
    left:15%;
	}

	60%{
	transform: rotate(168deg);
    bottom: 30%;
    left:60%;
	}
	80%{
	transform: rotate(10deg);
    bottom: 40%;
    left:80%;
	}
	100%{
	transform: rotate(568deg);
    bottom: 20%;
    left:10%;
	}
}